<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="tech.moravec.deck">

	<uses-permission android:name="android.permission.INTERNET" />

	<!-- Cleartext is on: deck is served over plain http on a LAN/tailnet. -->
	<application
		android:label="deck"
		android:icon="@mipmap/ic_launcher"
		android:usesCleartextTraffic="true"
		android:supportsRtl="true"
		android:theme="@android:style/Theme.Material.Light.NoActionBar">
		<activity
			android:name=".MainActivity"
			android:exported="true"
			android:launchMode="singleTask"
			android:windowSoftInputMode="adjustResize"
			android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboard|keyboardHidden|density|uiMode">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest>
